html{
    font-family: 'Cinzel', serif;
    text-align: center;
    background: url(../images/background.jpg) no-repeat top center;
    background-color: black; 
}

h1{
    margin-top: 270px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

#timer{
    font-size: 22px;
    margin: 30px;
    text-decoration: underline;
}
#rules{
    font-size: 30px;
    margin-block-start: 70px;
    line-height: 50px;
}
#questionArea{
    font-size: 20px;
    line-height: 30px;
}
#resultArea{
    font-size: 30px;
    line-height: 50px;
}
#btnStart{
    font-family: 'Cinzel', serif;
    background-color: dimgray;
    color: white;
    margin: 35px;
    font-size: 20px;
}
#btnSubmit{
    font-family: 'Cinzel', serif;
    background-color: dimgray;
    color: white;
    margin: 35px;
    font-size: 20px;
}

#btnReset{
    font-family: 'Cinzel', serif;
    background-color: dimgray;
    color: white;
    margin: 35px;
    font-size: 20px;
}

i{
    color: white;
    position: fixed; 
    bottom: 50px;
    font-size: 30px;   
}

.volmute{
    right: 50px;
}

.volunmute{
    right: 100px;
}

footer {
    color: red;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 2%;
}